.arrow-up-right {
    color: Silver;
    fontsize: 0.3rem;
    transform: rotate(-45deg);
}

.arrow {
   color: Silver;
   font-size: 2rem; /* Adjust the pixel value as needed */
   transform: rotate(-45deg);
}


.top-right {
  border-color: transparent black transparent transparent; /* Arrowhead color */
  transform: rotate(-45deg); /* Rotate for top-right direction */
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.highlight1 {
  color: #DE3163;
  font-weight: bold;
  padding: 20px;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.material-icons.md-50 {
  color: #FEBE10;
  /* This is Real Madrid Gold. McDonald's yellow is #FFC72C */
  float: left;
  font-size: 50px;
  margin-left: 5px;
}

.ending {
  color: #DE3163;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 18px;
}

.verse{
  font-family: 'Playfair Display', serif;
  font-size: 0.9em;
    font-style: italic;
    margin: 20px;
}

body {
  /* background-color: linen; */
  background-color: #FBE3E8;
  font-weight: 500;
  font-style: normal;
  padding: 40px;
  margin: 0;
}

footer {
  color: orange;
  font-style: normal;
  position: absolute;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

h1 {
  color: silver;
  /* Avocado is #568203*/
  font-weight: 150;
  font-style: normal;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 25px;
}

h2 {
  color: #EB5EA0;
  /* Avocado is #568203*/
  font-style: normal;
  font-size: 2.5rem;
}

h3 {
  color: gray;
  font-style: bold;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 10px;
}

h4 {
  color: gray;
  font-style: bold;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 10px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5;
}

pre {
  font-style: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Tablet adjustments */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
}
h4 {
 font-size: 1.1rem;
}
}

/* Mobile adjustments */
@media (max-width: 480px) {
  body {
    padding: 15px;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
