.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.highlight1 {
  color: #DE3163;
  font-weight: bold;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.material-icons.md-50 {
  color: #FEBE10;
  /* This is Real Madrid Gold. McDonald's yellow is #FFC72C */
  float: left;
  font-size: 50px;
  margin-left: 5px;
}

.subsection {
  color: #DE3163;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 15px;
  text-align: left;
}

body {
  /* background-color: linen; */
  background-color: #FBE3E8;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

footer {
  color: orange;
  font-size: 1.5rem;
  font-style: normal;
  padding-top: 50px;
  text-align: center;
}

h1 {
  color: silver;
  /* Avocado is #568203*/
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 85px;
}

h2 {
  color: Brown;
}

h3 {
  color: Gray;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  padding-top: 10px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}
